<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">
<suite name="Liverpool Automation Test Suite" verbose="2" parallel="false">

    <test name="Login Tests">
        <classes>
            <class name="com.liverpool.automation.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Navigation Tests">
        <classes>
            <class name="com.liverpool.automation.tests.NavigationTest"/>
        </classes>
    </test>

    <test name="Cart Tests">
        <classes>
            <class name="com.liverpool.automation.tests.CartTest"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="com.liverpool.automation.tests.CheckoutTest"/>
        </classes>
    </test>

</suite>