<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">
<suite name="Liverpool Automation Test Suite" verbose="2" parallel="false">

    <test name="Liverpool Complete Purchase Flow">
        <classes>
            <class name="com.liverpool.automation.tests.LiverpoolCompleteFlowTest"/>
        </classes>
    </test>

</suite>